[submodule "techtalks/css"]
	path = techtalks/css
	url = https://github.com/crnbrdrck/netsoc-css-talk.git
[submodule "techtalks/languages"]
	path = techtalks/languages
	url = https://github.com/crnbrdrck/netsoc-languages-talk.git
[submodule "techtalks/docker"]
	path = techtalks/docker
	url = https://github.com/crnbrdrck/netsoc-docker-talk.git
