<!DOCTYPE html>
<html lang="en">
    <head>
        <title>freyamade some techtalks</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="author" content="freyamade" />
        <meta name="description" content="freyamade some techtalks for netsoc and they're pretty cool" />
        <link href="//fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet" type="text/css">
        <link href="style.css" type="text/css" rel="stylesheet" />
        <meta property="og:title" content="freyamade" />
        <meta property="og:url" content="http://%(http_host)s%(request_uri)s" />
        <meta property="og:image" content="http://freyamade.netsoc.co/demo.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:site_name" content="freyamade.netsoc.co" />
        <meta property="fb:admins" content="1385961037" />
        <meta property="og:description" content="freyamade a netsoc homepage" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@freyamade" />
        <meta name="twitter:description" content="freyamade a netsoc homepage" />
        <meta itemprop="image" content="http://freyamade.netsoc.co/demo.png" />
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="title">techtalks</div>
                <div class="cards">
                    {% for card in cards %}
                    <a href="/{{ card.path }}/" target="_blank" class="card">
                        <h2>{{ card.title }}</h2>
                        <img src="/{{ card.path }}/title.png" alt="{{ card.title }} title slide" />
                        <p><em>{{ card.quote }}</em></p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <a href="https://github.com/freyamade/" class="social-link" target="blank">my github</a>
        </div>
    </body>
</html>
