<!DOCTYPE html>
<html lang="en">
    <head>
        <title>crnlpanic - techtalks and other stuff maybe</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="author" content="crnbrdrck" />
        <meta name="description" content="crnlpanic is the home of crnbrdrck's netsoc techtalks" />
        <link href="//fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet" type="text/css">
        <link href="style.css" type="text/css" rel="stylesheet" />
        <meta property="og:title" content="crnlpanic" />
        <meta property="og:image" content="http://crnlpanic.netsoc.co/demo.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:site_name" content="crnlpanic.netsoc.co" />
        <meta property="fb:admins" content="1385961037" />
        <meta property="og:description" content="crnbrdrck's netsoc homepage - techtalks and other stuff too maybe" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@crnbrdrck" />
        <meta name="twitter:description" content="crnbrdrck's netsoc homepage - techtalks and other stuff too maybe" />
        <meta itemprop="image" content="http://crnlpanic.netsoc.co/demo.png" />
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="title">techtalks</div>
                <div class="cards">
                    {% for card in cards %}
                    <a href="/{{ card.path }}/" target="_blank" class="card">
                        <h2>{{ card.title }}</h2>
                        <img src="/{{ card.path }}/title.png" alt="{{ card.title }} title slide" />
                        <p><em>{{ card.quote }}</em></p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <a href="https://github.com/crnbrdrck/" class="social-link" target="blank">my github</a>
        </div>
    </body>
</html>
